<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl">

             <div class="container">
                <div class="row">
                    
                    
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="200px" src="https://thumbs.dreamstime.com/b/south-indian-meals-served-banana-leaf-traditional-cuisine-57372380.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">meals</h5>
                              <p class="card-text">80</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="200px" src="https://media.istockphoto.com/id/516359240/photo/bhendi-masala-or-bhindi-masala-ladies-finger-curry-with-chapati.jpg?s=612x612&w=0&k=20&c=0mGnvNM2lxl-dTTJlhAfVJE5WidxYmmvrvNs1NZUKvs=" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Chappathi</h5>
                              <p class="card-text">20</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="200px" src="https://st.depositphotos.com/1003814/5052/i/450/depositphotos_50523105-stock-photo-pizza-with-tomatoes.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Veg-Piza</h5>
                              <p class="card-text">200</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="200px" src="https://assets.bonappetit.com/photos/602c3f3947d6e85be58927ab/1:1/w_2560%2Cc_limit/Basically-AlooTikki.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Aloo tica</h5>
                              <p class="card-text">200</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="200px" src="https://media.istockphoto.com/id/1328325937/photo/roasted-tomatoes-cut-varied-in-baking-tray-and-ladle-with-basil-and-rosemary-on-wood.jpg?b=1&s=170667a&w=0&k=20&c=bJuysTK8boQWGY7mQzgdl2-58Nw0LS-iLK4YU6QYb0Y=" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Tomato roast</h5>
                              <p class="card-text">30</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="200px" src="https://i.pinimg.com/originals/77/e4/1a/77e41a3f015bc15fe3bc5da5b920aa17.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Uzhunnu vada</h5>
                              <p class="card-text">30</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div>

                    </div>
                    
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">


                        <div class="card">
                            <img height="200px" src="https://thumbs.dreamstime.com/b/delicious-pazham-pori-kerala-cuisine-sweet-coconut-stuffed-deep-fried-banana-traditional-vegan-snack-food-south-india-187198212.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Pazham pori</h5>
                              <p class="card-text">15</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div>
                    </div>
                    

                    </div>
                </div>
             </div>

        </div>
    </div>


