<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl">

             <div class="container">
                <div class="row g-3 mt-4">
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="200px" src="https://img.freepik.com/premium-photo/shawarma-rolled-lavash-with-grilled-meat-vegetables-wooden-background_124865-658.jpg?w=2000" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Chicken shawarma</h5>
                              <p class="card-text">120</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="200px" src="https://img.onmanorama.com/content/dam/mm/en/food/recipe/images/2021/2/14/alfaham.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Al-Faham</h5>
                              <p class="card-text">200</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="200px" src="https://t3.ftcdn.net/jpg/03/85/19/64/360_F_385196440_Wkkv02DtnXSAjsZpDdFgud3aDd90z6ZM.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Beef fry</h5>
                              <p class="card-text">300</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="200px" src="https://www.pngitem.com/pimgs/m/36-361789_transparent-fry-png-full-chicken-fry-png-png.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Chiken fry</h5>
                              <p class="card-text">20</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="200px" src="https://wallpaperaccess.com/full/7331961.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Chiken chilly</h5>
                              <p class="card-text">200</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="200px" src="https://t3.ftcdn.net/jpg/02/51/39/42/360_F_251394284_Tn8Z8opzrQylClF7Nu8cuA26lf398oCS.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">beef biriyani</h5>
                              <p class="card-text">120</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="200px" src="https://www.kitchensanctuary.com/wp-content/uploads/2018/04/Crispy-Chilli-Beef-Tall-FS-18.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">beef chilly</h5>
                              <p class="card-text">300</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="200px" src="https://img.freepik.com/premium-photo/mutton-lamb-biriyani-with-basmati-rice-served-bowl-moody-background_466689-72548.jpg?w=2000" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Mutton biriyani</h5>
                              <p class="card-text">150</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div>

                    </div>
                   
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">


                        <div class="card">
                            <img height="200px" src="https://www.pngitem.com/pimgs/m/107-1074468_about-chicken-biryani-images-hd-png-transparent-png.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Chikken biriyani</h5>
                              <p class="card-text">100</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div>
                    </div>
                    

                    </div>
                </div>
             </div>

        </div>
    </div>

